<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://oldsparrowtavern.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>true</ExcludeApp_Data>
    <MSDeployServiceURL>oldsparrowtavern.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>oldsparrowtavern</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>$oldsparrowtavern</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="OldSparrowTavernDb" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-CF20E20\SQLEXPRESS;Initial Catalog=OldSparrowTavernDb;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OldSparrowTavern.Models.ApplicationDbContext, OldSparrowTavern" MigrationConfiguration="OldSparrowTavern.Migrations.Configuration, OldSparrowTavern" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="OldSparrowTavernDb-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-CF20E20\SQLEXPRESS;Initial Catalog=OldSparrowTavernDb;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>